<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDM Login</title>
    <link rel="stylesheet" href="index.css">
    <script src= "index.js"></script>
    
  </head>
  <body class="body-login">
    <section class="caja-login">
      <div class="background-image">
        <h1>Control de Materiales</h1>
        <h2>Inicio Sesion</h2>
        <form action="/ingresar" method="post" class="formulario">
          <input type="text" name="usuario" placeholder="Usuario" id="usuario">
          <input type="password" name="password" placeholder="Clave" id="password">
          <button id="botoningresar" type="submit" class="ingresar">Ingresar</button>
        </form>
        <a href="">Crear cuenta</a>
      </div>
    </section>
	<footer>
		<p><a href="aldana.albani@gmail.com">Contactanos</a></p>
	</footer>
  </body>
</html>
